body{
  background-color: var(--bg-color)
}

.visualize {
  background-color: var(--visualize-bg-color);
  background-image:
    linear-gradient(to right, var(--visualize-bg-image) 0.1px, transparent 1px),
    linear-gradient(to bottom, var(--visualize-bg-image) 0.1px, transparent 1px);
  background-size: 30px 30px;
}
