name: Build & Deploy JSON Schema Studio

on:
  push:
    branches:
    - main
    paths-ignore:
    - ".github/**"
    - "**.md"
  workflow_dispatch:


concurrency:
  group: website-deploy-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: npm

    - name: Install Dependencies and Build application
      run: |
        npm ci
        npm run build

    - name: Upload build artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: dist

    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
